body {
}

#login-div {
    top: 50%;
    left: 50%;
    width: 300px;
    height: 400px;
    margin-top: -200px;
    margin-left: -150px;
    border: 1px solid #666;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(5px);
    position: fixed;
    border-radius: 14px;
    box-shadow: 0px 0px 20px 3px #000;
}

#UserMsg {
    position:relative;
    top:80px;
}